# Explore Model: microsoft/tapex-large-finetuned-wtq

In [121]:
from idlelib.iomenu import encoding
from transformers import TapexTokenizer, BartForConditionalGeneration
import pandas as pd

## Fit the model

In [40]:
tokenizer = TapexTokenizer.from_pretrained("microsoft/tapex-large-finetuned-wtq")
model = BartForConditionalGeneration.from_pretrained("microsoft/tapex-large-finetuned-wtq")

tokenizer_config.json:   0%|          | 0.00/1.20k [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/506k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/772 [00:00<?, ?B/s]

/opt/anaconda3/lib/python3.12/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

config.json:   0%|          | 0.00/951 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/1.63G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/246 [00:00<?, ?B/s]

[' 2008']

## Explore model with **001_Forbes** data

In [51]:
df = pd.read_csv('../data/raw/datasets/001_Forbes.csv')

In [52]:
data_1 = df[:5]
data_1

,rank,personName,age,finalWorth,category,source,country,state,city,organization,selfMade,gender,birthDate,title,philanthropyScore,bio,about
0,1,Elon Musk,50.0,219000,Automotive,"Tesla, SpaceX",United States,Texas,Austin,Tesla,True,M,1971-06-28 00:00:00+00:00,CEO,1.0,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...
1,2,Jeff Bezos,58.0,171000,Technology,Amazon,United States,Washington,Seattle,Amazon,True,M,1964-01-12 00:00:00+00:00,Entrepreneur,1.0,Jeff Bezos founded e-commerce giant Amazon in ...,"Growing up, Jeff Bezos worked summers on his g..."
2,3,Bernard Arnault & family,73.0,158000,Fashion & Retail,LVMH,France,NaN,Paris,LVMH MoÃ«t Hennessy Louis Vuitton,False,M,1949-03-05 00:00:00+00:00,Chairman and CEO,NaN,Bernard Arnault oversees the LVMH empire of so...,"Arnault apparently wooed his wife, Helene Merc..."
3,4,Bill Gates,66.0,129000,Technology,Microsoft,United States,Washington,Medina,Bill & Melinda Gates Foundation,True,M,1955-10-28 00:00:00+00:00,Cofounder,4.0,Bill Gates turned his fortune from software fi...,"When Gates was a kid, he spent so much time re..."
4,5,Warren Buffett,91.0,118000,Finance & Investments,Berkshire Hathaway,United States,Nebraska,Omaha,Berkshire Hathaway,True,M,1930-08-30 00:00:00+00:00,CEO,5.0,"Known as the ""Oracle of Omaha,"" Warren Buffett...","Buffett still lives in the same Omaha, Nebrask..."

In [78]:
table = data_1[["rank", "personName", "age"]]
table = table.astype(str)
table

  rank                personName   age
0    1                 Elon Musk  50.0
1    2                Jeff Bezos  58.0
2    3  Bernard Arnault & family  73.0
3    4                Bill Gates  66.0
4    5            Warren Buffett  91.0

In [122]:
question = "What position is Warren Buffett in, and what is his age?"
encoding = tokenizer(table, query=question, return_tensors="pt")
outputs = model.generate(**encoding)
print(tokenizer.batch_decode(outputs, skip_special_tokens=True))

[' 91.0']